<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    
    <script src="https://kit.fontawesome.com/16958e3fbc.js" crossorigin="anonymous"></script>
</head>
<body>
     <header>
        <div class="mainheader">
        <div class="container-logo-search-bar">
          <div class="flex-grow-50"><img src="/img/logo-mercado-liebre.svg" alt="ml logo"></div>
        </div>
        <div class="container-search-bar">
            <form class="nav-search" action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" style="overflow: inherit; display: inherit;">
              <input type="text" placeholder="Buscar productos, marcas y más…" class="barratexto">
              <button type="submit" class="nav-search-btn" tabindex="3">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
        <h4><i class='fa-solid fa-hand-holding-dollar'></i> Comprá en cuotas y sin tarjeta de crédito</h4>
        
        <div class="burger-menu">
            <i class="background-blue color-white border-radius-15 padding-10 fa-solid fa-bars"></i>
        </div>
    </div>
    <nav class="main-navar">
        <ul class="main-navar1">
            <li><a href='deals'>Ofertas</a></li>
            <li><a href='officialStores'>Tiendas Oficiales</a></li>
            <li><a href='sell'>Vender</a></li>
            <li><a href='help'>Ayuda</a></li>
        </ul>
        <ul class="main-navar1">
            <li><a href='register'>Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
            <li><a href='login'>Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href='myshopping'>Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>

    </header>

    <section>
        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send/?phone=124123123&text=DigitalHouse es lo mas!" target="_blank">
                <img src="img/btn_whatsapp.png" alt="whatsapp logo">
            </a>
        </div>
    </section>
    </br>
</br>
</br>
</br>
</br>
</br>
</br>

    <main>

        <form action="Login" method="POST">
            <input type="submit" name="" id="" value="submit">
        
        </form>
    </main>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

    <footer class="footer">

        <ul>
            <li>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h5>© 1999-2020 MercadoLiebre S.R.L.</h5>
            </li>
        </ul>
    </footer>
</body>
</html>